.container-navbar {
    border-bottom: 2px solid white;
    margin-bottom: 20px;
}

ul.side-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.side-navbar li {
    float: left;
    color: white;
}

ul.side-navbar li a {
    display: block;
    padding: 8px;
    color: white;
    font-size: 1.2em;
}

.submenu-active {
    font-weight: bold;
    color: #707070  !important;
}

#watchlist {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

.watchlist-movie {
    display: table-row;
    width: 100%;
    margin: 20px;
    border-bottom: 1px solid black;
    padding: 100px;
    height: 0px;
}

.watchlist-movie-title {
    display: table-cell;
    word-wrap: break-word;
    vertical-align: middle;
    padding: 5px;
    height: 100%;
    text-align: left;
    width: 50%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.watchlist-movie-remove {
    display: inline-block;
    vertical-align: middle;
}