.container-navbar {
    border-bottom: 2px solid white;
    margin-bottom: 20px;
}

ul.side-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.side-navbar li {
    float: left;
    color: white;
}

ul.side-navbar li a {
    display: block;
    padding: 8px;
    color: white;
    font-size: 1.2em;
}

.submenu-active {
    font-weight: bold;
    color: #707070  !important;
}

#watchlist {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

.watchlist-movie {
    display: table-row;
    width: 100%;
    margin: 20px;
    border-bottom: 1px solid black;
    padding: 100px;
    height: 0px;
}

.watchlist-movie-title {
    display: table-cell;
    word-wrap: break-word;
    vertical-align: middle;
    padding: 5px;
    height: 100%;
    text-align: left;
    width: 50%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.watchlist-movie-ui {
    display: table-cell;
    float: right;
    white-space: nowrap;
    vertical-align: middle;
    padding: 5px;
    height: 100%;
}

.watchlist-movie-remove {
    display: inline-block;
    vertical-align: middle;
}

.pref-movie {
    display: table-row;
    width: 100%;
    margin: 20px;
    border-bottom: 1px solid black;
    padding: 100px;
    height: 0px;
}

.pref-movie-title {
    display: table-cell;
    word-wrap: break-word;
    vertical-align: middle;
    padding: 5px;
    height: 100%;
    text-align: left;
    width: 50%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pref-movie-ui {
    display: table-cell;
    float: right;
    white-space: nowrap;
    vertical-align: middle;
    padding: 5px;
    height: 100%;
}

.pref-movie-rating {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.pref-movie-remove {
    display: inline-block;
    vertical-align: middle;
}

.pref-rating-star.selected,
.pref-rating-star.hovered,
.pref-rating-star {
    display: inline-block;
    color: #FFBB00;
    font-size: 2.5em; 
    text-shadow: 2px 2px #000000;
}

.pref-rating-star:before {
    content: '\2606';    
}

.pref-rating-star.selected:before,
.pref-rating-star.hovered:before {
    content: '\2605';    
}