{% extends 'main/base.html' %}
{% load static %}

{% block title %}{{ block.super }}Profile - {% endblock title %}

{% block styles %}
{{ block.super }}
    <link href="{% static 'css/w2w.accounts.css' %}" rel="stylesheet">
{% endblock styles %}

{% block body %}
<div class="container container-navbar">
    <ul class="side-navbar">
      <li><a class="{% block edit_active %}{% endblock %}" 
             href="{% url 'accounts:profile' %}">Edit</a></li>
      <li><a class="{% block prefs_active %}{% endblock %}" 
             href="{% url 'accounts:prefs' %}">Preferences</a></li>
      <li><a class="{% block watchlist_active %}{% endblock %}"
             href="{% url 'accounts:watchlist' %}">Watchlist</a></li>
      <li><a class="{% block recos_active %}{% endblock %}"
             href="{% url 'accounts:recos' %}">Recommendations</a></li>
      <li><a class="{% block password_active %}{% endblock %}"
             href="{% url 'accounts:password' %}">Change Password</a></li>
      <li><a class="{% block delete_active %}{% endblock %}"
             href="{% url 'accounts:delete' %}">Delete Account</a></li>
    </ul>
</div>
{% endblock body %}

{% block navbar_profile %}
    <li><a href="{% url 'accounts:profile' %}">Edit</a></li>
    <li><a href="{% url 'accounts:prefs' %}">Preferences</a></li>
    <li><a href="{% url 'accounts:watchlist' %}">Watchlist</a></li>
    <li><a href="{% url 'accounts:recos' %}">Recommendations</a></li>
    <li><a href="{% url 'accounts:password' %}">Change Password</a></li>
    <li><a href="{% url 'accounts:delete' %}">Delete Account</a></li>
{% endblock %}