{% extends 'main/base.html' %}
{% load static %}

{% block title %}{{ block.super }}Profile - {% endblock title %}

{% block styles %}
{{ block.super }}
<style>
.container-navbar {
    border-bottom: 2px solid white;
    margin-bottom: 20px;
}

ul.side-navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.side-navbar li {
    float: left;
    color: white;
}

ul.side-navbar li a {
    display: block;
    padding: 8px;
    color: white;
    font-size: 1.2em;
}

.submenu-active {
    font-weight: bold;
    color: #707070  !important;
}

</style>
{% endblock styles %}

{% block body %}
<div class="container container-navbar">
    <ul class="side-navbar">
      <li><a class="{% block edit_active %}{% endblock %}" 
             href="{% url 'accounts:profile' %}">Edit Profile</a></li>
      <li><a class="{% block prefs_active %}{% endblock %}" 
             href="{% url 'accounts:prefs' %}">Preferences</a></li>
      <li><a class="{% block watchlist_active %}{% endblock %}"
             href="{% url 'accounts:watchlist' %}">Watchlist</a></li>
      <li><a class="{% block recos_active %}{% endblock %}"
             href="{% url 'accounts:recos' %}">Recommendations</a></li>
      <li><a class="{% block password_active %}{% endblock %}"
             href="{% url 'accounts:password' %}">Change Password</a></li>
    </ul>
</div>
{% endblock body %}