{% extends 'accounts/profile_base.html' %}
{% load static %}

{% block title %}{{ block.super }}Recommendation{% endblock title %}

{% block recos_active %}submenu-active{% endblock %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/w2w.movieinfo.css' %}">
<link rel="stylesheet" href="{% static 'css/w2w.prefs.css' %}">
<style>
    .base-list {
        display: none;
        /*display: table;*/
        table-layout: fixed;
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 10px;
    }
    .base-list.active {
        display: table !important;
    }
    .reco-list {
        display: none;
        /*display: table;*/
        table-layout: fixed;
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 10px;
    }
    .reco-list.active {
        display: table !important;
    }
    .pref-rating-star,
    .pref-dropbtn {
        cursor: auto !important;
    }
</style>
{% endblock styles %}

{% block body %}
{{ block.super }}
{% include 'main/movieinfo.html' %}
<div class = "container container-w2w">
    <div class = "page-header">
        <h2>
            {% if reco.title %}
                No Title
            {% else %}
                {{ reco.title }}
            {% endif %}<br>
            <small>({{ reco.timestamp|date:'Y-m-d H:i' }})</small>
        </h2>
    </div>
    <h3>Recommended Movies</h3>
    {% if reco.movies.count == 0 %}
        It seems there were no movies recommended to you.
    {% else %}
        <div class="reco-list active">
        {% for movie in reco.movies.all %}
            <div class="pref-movie">
                <span class='pref-movie-title'>
                    <a href='#movieInfo' data-toggle='modal' data-movie-id="{{movie.movie.id}}">
                        {{movie.movie.title}} 
                    </a>
                    <span class="watchlist-add-btn-wrapper">
                        (<a href='#' data-movie-id="{{movie.movie.id}}">+Watchlist</a>)
                    </span>
                </span>
            </div>
            {% if forloop.counter|divisibleby:"5" %}
                {% if not forloop.last %}
                    </div>
                    <div class="reco-list">
                {% endif %}
            {% endif %}
        {% endfor %}
        </div>
        <dev>
            <button id="reco-list-prev" class="btn btn-primary" 
                type="button">Prev</button>
            <button id="reco-list-next" class="btn btn-primary" 
                type="button">Next</button>
        </dev>
    {% endif %}
</div>
<div class = "container-w2w">
    <h3>Recommendation Base</h3>
    {% if reco.base.count == 0 %}
        It seems there were no base movies for this recommendation (error).
    {% else %}
        <div class="base-list active">
        {% for movie in reco.base.all %}
            <div class="pref-movie">
                <span class='pref-movie-title'>
                    <a href='#movieInfo' data-toggle='modal' data-movie-id="{{movie.movie.id}}">
                        {{movie.movie.title}}
                    </a>
                </span>
                <div class="pref-movie-ui">
                    <button class="pref-dropbtn">{{movie.rating}}</button>
                    <div class = "pref-movie-rating">
                        <div class="pref-rating-star {% if 1 <= movie.rating %}selected{% endif %}" data-value="1">
                            <span></span>
                        </div>
                        <div class="pref-rating-star {% if 2 <= movie.rating %}selected{% endif %}" data-value="2">
                            <span></span>
                        </div>
                        <div class="pref-rating-star {% if 3 <= movie.rating %}selected{% endif %}" data-value="3">
                            <span></span>
                        </div>
                        <div class="pref-rating-star {% if 4 <= movie.rating %}selected{% endif %}" data-value="4">
                            <span></span>
                        </div>
                        <div class="pref-rating-star {% if 5 <= movie.rating %}selected{% endif %}" data-value="5">
                            <span></span>
                        </div>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:"5" %}
                {% if not forloop.last %}
                    </div>
                    <div class="base-list">
                {% endif %}
            {% endif %}
        {% endfor %}
        </div>
        <dev>
            <button id="base-list-prev" class="btn btn-primary" 
                type="button">Prev</button>
            <button id="base-list-next" class="btn btn-primary" 
                type="button">Next</button>
        </dev>
    {% endif %}
</div>
{% endblock %}

{% block body_scripts %}
{{ block.super }}
<script src="{% static 'js/movieinfo.js' %}"></script>
<script>
    $("#reco-list-next").click(function() {
        var $current = $(".reco-list.active");
        var $next = $current.next(".reco-list");
        if ($next.length) {
            $current.removeClass("active");
            $next.addClass("active");
        }
    });

    $("#reco-list-prev").click(function() {
        var $current = $(".reco-list.active");
        var $prev = $current.prev(".reco-list");
        if ($prev.length) {
            $current.removeClass("active");
            $prev.addClass("active");
        }
    });

    $("#base-list-next").click(function() {
        var $current = $(".base-list.active");
        var $next = $current.next(".base-list");
        if ($next.length) {
            $current.removeClass("active");
            $next.addClass("active");
        }
    });

    $("#base-list-prev").click(function() {
        var $current = $(".base-list.active");
        var $prev = $current.prev(".base-list");
        if ($prev.length) {
            $current.removeClass("active");
            $prev.addClass("active");
        }
    });

    $(document).on("click", ".watchlist-add-btn-wrapper > a", function(event) {
        var movieId = $(this).data("movie-id");
        var $self = $(this).parent().append("<span></span>");
        $(this).remove();

        $self.html(" | Adding to watchlist");
        $.post(
            "/accounts/watchlist/add",
            {id: movieId},
            success = function(response) {
                if (response.status.toUpperCase() === "ERROR") {
                    console.log(response.msg);
                    $self.html(" | Unexpected error");
                } else {
                    $self.html(" | Added to watchlist");
                    setTimeout(function() {
                        $self.remove();
                    }, 2000);
                }
            }
        );

        event.preventDefault();
        return (false);
    });

</script>
{% endblock %}