{% extends 'accounts/profile_base.html' %}
{% load static %}

{% block title %}{{ block.super }}Recommendations{% endblock title %}

{% block recos_active %}submenu-active{% endblock %}

{% block styles %}
{{ block.super }}
<style>
    #reco-list {
        display: table;
        table-layout: fixed;
        width: 100%;
        border-collapse: collapse;
    }
    .reco-movie {
        display: table-row;
        width: 100%;
        margin: 20px;
        border-bottom: 1px solid black;
        padding: 100px;
        height: 0px;
    }
    .reco-movie-title {
        display: table-cell;
        word-wrap: break-word;
        vertical-align: middle;
        padding: 15px 5px;
        height: 100%;
        text-align: left;
        width: 50%;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
{% endblock %}

{% block body %}
{{ block.super }}
<div class = "container-w2w">
    <div class="page-header">
        <h3>Your Recommendations</h3>
    </div>
    {% if recos.paginator.count == 0 %}
        It seems you have not yet get any recommendations. What are you waiting for? Please visit recommendation section and find out new movies. 
    {% else %}
        <div id="reco-list">
            {% for reco in recos %}
                <div class="reco-movie" data-movie-id="{{ reco.id }}">
                    <span class='reco-movie-title'>
                        <a href="{{ reco.get_absolute_url }}">
                        {% if reco.title %}
                            No Title
                        {% else %}
                            {{ reco.title }} 
                        {% endif %}
                        </a>
                        ({{ reco.timestamp|date:'Y-m-d H:i' }})
                    </span>
                </div>
            {% endfor %}
        </div>

        {% if recos.has_other_pages %}
            <ul class="pagination">
                {% if recos.has_previous %}
                    <li><a href="?page={{ recos.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in recos.paginator.page_range %}
                    {% if recos.number == i %}
                        <li class="active">
                            <span>{{ i }} <span class="sr-only">(current)</span></span>
                        </li>
                    {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if recos.has_next %}
                    <li><a href="?page={{ recos.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
        {% endif %}
    {% endif %}
</div>
{% endblock %}

