{% extends 'accounts/profile_base.html' %}
{% load static %}

{% block title %}{{ block.super }}Watchlist{% endblock title %}

{% block watchlist_active %}submenu-active{% endblock %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'css/w2w.movieinfo.css' %}">
{% endblock styles %}

{% block body %}
{{ block.super }}
{% include 'main/movieinfo.html' %}
<div class = "container-w2w">
    <div class="page-header">
        <h3>Your Watchlist</h3>
    {% if watchlist.paginator.count == 0 %}
        </div>
        Your watchlist is empty. You can add movies to your watchlist from among recommended movies.
    {% else %}
        State your preferences for movies you have just watched or remove some movies from your watchlist.
            </div>
        <div id="watchlist">
            {% for movie in watchlist %}
                <div class="watchlist-movie" data-movie-id="{{ movie.id }}">
                    <span class='watchlist-movie-title'>
                        <a href='#movieInfo' data-toggle='modal' data-movie-id="{{movie.id}}">{{movie.title}}</a>
                    </span>
                    <div class="watchlist-movie-ui">
                        <div class="pref-movie-rating">
                            <div class="pref-rating-star {% if 1 <= pref.rating %}selected{% endif %}" data-value="1">
                                <span></span>
                            </div>
                            <div class="pref-rating-star {% if 2 <= pref.rating %}selected{% endif %}" data-value="2">
                                <span></span>
                            </div>
                            <div class="pref-rating-star {% if 3 <= pref.rating %}selected{% endif %}" data-value="3">
                                <span></span>
                            </div>
                            <div class="pref-rating-star {% if 4 <= pref.rating %}selected{% endif %}" data-value="4">
                                <span></span>
                            </div>
                            <div class="pref-rating-star {% if 5 <= pref.rating %}selected{% endif %}" data-value="5">
                                <span></span>
                            </div>
                        </div>
                        <button class='btn btn-default watchlist-movie-remove' 
                                type='button'>Remove</button>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if watchlist.has_other_pages %}
            <ul class="pagination">
                {% if watchlist.has_previous %}
                    <li><a href="?page={{ watchlist.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in watchlist.paginator.page_range %}
                    {% if watchlist.number == i %}
                        <li class="active">
                            <span>{{ i }} <span class="sr-only">(current)</span></span>
                        </li>
                    {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if watchlist.has_next %}
                    <li><a href="?page={{ watchlist.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
        {% endif %}
    {% endif %}
</div>
{% endblock %}


{% block body_scripts %}
{{ block.super }}
<script src="{% static 'js/prefs.source.js' %}"></script>
<script src="{% static 'js/movieinfo.js' %}"></script>
<script>
    var prefsHandler = new UserBasedPrefsSource();

    $(document).on("mouseover", ".pref-rating-star", function() {
        $(this).addClass("hovered");
        $(this).prevAll().addClass("hovered");
    });

    $(document).on("mouseout", ".pref-rating-star", function() {
        $(this).removeClass("hovered");
        $(this).prevAll().removeClass("hovered");
    });

    $(document).on("click", ".pref-rating-star", function() {
        var rating = $(this).data("value");
        var movieId = $(this).parent().parent().parent().data("movie-id");
        var title = $(this).parent().parent().siblings(".watchlist-movie-title").html();

        prefsHandler.update(
            movieId = movieId,
            movieTitle = title,
            movieRating = rating,
            function() {
                var $movie = $(".watchlist-movie").filter(function() { 
                    return $(this).data("movie-id") == movieId
                });
                $movie.find(".pref-movie-rating").children().removeClass("selected");

                var $movieStar =  $movie.find(".pref-movie-rating").
                    find("[data-value='" + rating + "']");
                $movieStar.addClass("selected");
                $movieStar.prevAll().addClass("selected");  

                $movie.remove();          
            }  
        );   
    });

    $(document).on("click", ".watchlist-movie-remove", function() {
        var $movie = $(this).parent().parent();
        $.post(
            "/accounts/watchlist/remove",
            {id: $movie.data("movie-id")},
            success = function(response) {
                if (response.status.toUpperCase() === "OK") {
                    $movie.remove();
                }
            }
        );
    });
</script>
{% endblock body_scripts %}