{% extends 'main/base.html' %}
{% load static %}

{% block title %}{{block.super}} About{% endblock title %}

{% block styles %}
{{ block.super }}
<style>
    p {
        text-align: justify;
    }
</style>
{% endblock %}

{% block body %}
{{ block.super }}
{% include 'main/movieinfo.html' %}
<div class="container container-w2w">
    <div class="page-header" id="sx-device-header">
        <h2>"<strong>W2W</strong>" - <strong>What To Watch</strong></h2>
    </div>
    <p>What To Watch (W2W) is a web-based application providing movies
    recommendation on the base of the users preferences. In order to receive
    a recommendation a user has to explicitly state her/his preferences by 
    grading selected movies on five point scale (1-5).
    </p>

    <p>
    Algorithm used to makes recommendation is Slope One. It belongs to
    collaboratie filtring family of alrogithsm. In general it takes into
    account preferences of other users

Slope One is a family of algorithms used for collaborative filtering, introduced in a 2005 paper by Daniel Lemire and Anna Maclachlan.[1] Arguably, it is the simplest form of non-trivial item-based collaborative filtering based on ratings. Their simplicity makes it especially easy to implement them efficiently while their accuracy is often on par with more complicated and computationally expensive algorithms.[1][2] They have also been used as building blocks to improve other algorithms.[3][4][5][6][7][8][9] They are part of major open-source libraries such as Apache Mahout and Easyrec.

    </p>

    <p>
    Functionalities
    </p>

    <p>
    Data are provided by TMDB.
    </p>




<p>
So explore a little. Search for your favorite movie. Build a list of movies you want to watch. We're really proud of the service we've built and hope you find it as useful as we do. 
    </p>
</div>
{% endblock %}

