{% extends 'main/base.html' %}
{% load static %}

{% block title %}What To Watch{% endblock title %}

{% block styles %}
{{ block.super }}
<link rel="stylesheet" href="{% static 'main/css/owl.carousel.css' %}">
<link rel="stylesheet" href="{% static 'main/css/owl.theme.default.min.css' %}">
<link rel="stylesheet" href="{% static 'css/w2w.home.css' %}">
<link rel="stylesheet" href="{% static 'css/w2w.carousel.css' %}">
<link rel="stylesheet" href="{% static 'css/w2w.movieinfo.css' %}">
<link rel="stylesheet" href="{% static 'css/w2w.prefs.css' %}">
<style>
    .reco-list {
        display: none;
        /*display: table;*/
        table-layout: fixed;
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 10px;
    }
    .reco-list.active {
        display: table !important;
    }
    .pref-rating-star,
    .pref-dropbtn {
        cursor: auto !important;
    }
    .movies-list-ui {
        float: right;
        margin-bottom: 5px;
    }
</style>
{% endblock styles %}

{% block body %}
{{ block.super }}
{% include 'main/movieinfo.html' %}
<div class="container container-w2w">
    <div class="page-header" id="lg-device-header">
        <h1>Welcome to "<strong>W2W</strong>" - <strong>What To Watch</strong>
        <br><small>Looking for some new movies to watch? - You've found the right place!</small>
        </h1>
    </div>
    <div class="page-header" id="sx-device-header">
        <h2>"<strong>W2W</strong>" - <strong>What To Watch</strong>
        </h2>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Stand-Alone Search</h3>
                    <p>
                        <strong>Quick</strong>, <strong>one-time</strong> search for 
                        <strong>anonymous</strong> as well as for <strong>authenitcated users</strong>.
                        State your preferences and we recommend you some movies worth to watch.
                    </p>
                    <a href="{% url 'reco' %}?type=standalone" class="btn btn-sx btn-default" 
                          id="standalone-reco-btn" role="button">Begin Stand-Alone Search</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="thumbnail">
                <div class="caption">
                    <h3>General Search</h3>
                    <p><strong>Complex</strong> and <strong>general</strong> search for
                    <strong>authenticated users</strong>. State and adjust your preferences, add new movies to
                    your watchlist or view your previous recommendations.</p>
                    {% if user.is_authenticated %}
                        <a href="{% url 'reco' %}?type=general" class="btn btn-sx btn-default" 
                           id="general-reco-btn" role="button">Begin General Search</a>
                    {% else %}
                        <p>Please <a id="id_signup" href="{% url 'accounts:signup' %}" 
                           style="color: white !important;"><strong>Sign Up</strong></a> or 
                        <a id="id_login" href="{% url 'accounts:login' %}"
                           style="color: white !important;"><strong>Log In</strong></a> 
                        into your account to take adventage of general search mode.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% if reco %}
    <div class = "container-w2w">
        <div class = "page-header">
            <h3>
                Your Last Recommendation<br>
                <small>
                {% if reco.title is None %}
                    No Title
                {% else %}
                    {{ reco.title }}
                {% endif %}
                ({{ reco.timestamp|date:'Y-m-d H:i' }})</small>
            </h3>
        </div>
        <h4>Recommended Movies</h4>
        {% if reco.movies.count == 0 %}
            It seems there were no movies recommended to you.
        {% else %}
            <div class="reco-list active">
            {% for movie in reco.movies.all %}
                <div class="pref-movie">
                    <span class='pref-movie-title'>
                        <a href='#movieInfo' data-toggle='modal' data-movie-id="{{movie.movie.id}}">
                            {{movie.movie.title}}
                        </a>
                    </span>
                </div>
                {% if forloop.counter|divisibleby:"5" %}
                    {% if not forloop.last %}
                        </div>
                        <div class="reco-list">
                    {% endif %}
                {% endif %}
            {% endfor %}
            </div>
            <dev>
                <button id="reco-list-prev" class="btn btn-default" 
                    type="button">Prev</button>
                <button id="reco-list-next" class="btn btn-default" 
                    type="button">Next</button>
            </dev>
        {% endif %}
    </div>
{% endif %}

<div class="container container-w2w container-with-carousel">
    <div class="page-header">
        <h3>Movies Browser</h3>
    </div>

    <div class="movies-list-ui">
        <div class="btn-group" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default dropdown-toggle" 
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Browsing Mode
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a id="popular-browse-mode" href="#">Popular Movies</a></li>
                    <li><a id="toprated-browse-mode" href="#">Top Rated Movies</a></li>
                    <li><a id="upcoming-browse-mode" href="#">Upcoming Movies</a></li>
                    <li><a id="nowplaying-browse-mode" href="#">Now Playing Movies</a></li>
                </ul>
            </div>

            <button class="btn btn-default owl-prev" type="button">&#9666</button>
            <button class="btn btn-default owl-next" type="button">&#9656</button>
        </div>
    </div>

    <div class="alert alert-info alert-dismissible" role="alert" 
         id="movies-list-info">
        <button type="button" class="close" data-dismiss="alert" 
                aria-label="Close">
                <span aria-hidden="true">&times;</span>
        </button>
        <span id="movies-list-info-msg"></span>
    </div>
    <h4 id="browse-mode-name">Popular Movies</h4>
    <div class="owl-carousel"></div>
</div>
{% endblock %}

{% block body_scripts %}
    <script src="{% static 'main/js/owl.carousel.js' %}"></script>
    <script src="{% static 'main/js/jquery.mousewheel.min.js' %}"></script>
    <script src="{% static 'js/moviesquery.js' %}"></script>
    <script src="{% static 'js/movieshandler.js' %}"></script>
    <script src="{% static 'js/home.js' %}"></script>
    <script src="{% static 'js/movieinfo.js' %}"></script>
    <script>
        var owl = $('.owl-carousel');
        owl.owlCarousel({
            nav: false, dots: false, loop: false,
            center: false, autoWidth: true, 
            lazyLoad: true, items: 5,
            responsive: {
                0: { items: 1 },
                600: { items: 3 },
                1000: { items: 5 }
            }
        });
        $(".owl-prev").click(function(event) {
            owl.trigger("prev.owl");
        });
        $(".owl-next").click(function(event) {
            owl.trigger("next.owl");
        });
        owl.on('mousewheel', '.owl-stage', function (e) {
            if (e.deltaY>0) {
                owl.trigger('next.owl');
            } else {
                owl.trigger('prev.owl');
            }
            e.preventDefault();
        });
        owl.on('changed.owl.carousel', function(event) {
            if (event.item.index + 20 > event.item.count) {
                if (!MoviesHandler.isEndOfMovies()) {
                    MoviesHandler.getNextPageMovies();
                }
            } 
        });

        // Init MoviesHandler
        MoviesHandler.setMode(new BrowseQuery("/movies/nowplaying"));
        MoviesHandler.noMoreMoviesImg = "{% static 'img/nomoremovies.png' %}";
        MoviesHandler.lackOfPosterImg = "{% static 'img/lackofposter.png' %}";
        MoviesHandler.is_authenticated = {% if user.is_authenticated %}true{%else%}false{%endif%};
        MoviesHandler.getMovies(page = 1);

        function equalHeight(group) {    
            var tallest = 0;    
            group.each(function() {       
                var thisHeight = $(this).height();       
                if(thisHeight > tallest) {          
                    tallest = thisHeight;       
                }    
            });    
            group.each(function() { $(this).height(tallest); });
        } 

        $(document).ready(function() {   
            equalHeight($(".thumbnail")); 
        });

        $("#standalone-reco-btn").click(function() {
            localStorage.setItem("reco-type", "standalone");
        });
        $("#general-reco-btn").click(function() {
            localStorage.setItem("reco-type", "general");
        });

        $("#reco-list-next").click(function() {
            var $current = $(".reco-list.active");
            var $next = $current.next(".reco-list");
            if ($next.length) {
                $current.removeClass("active");
                $next.addClass("active");
            }
        });

        $("#reco-list-prev").click(function() {
            var $current = $(".reco-list.active");
            var $prev = $current.prev(".reco-list");
            if ($prev.length) {
                $current.removeClass("active");
                $prev.addClass("active");
            }
        });
    </script>
{% endblock %}