{% extends 'main/base.html' %}
{% load static %}

{% block styles %}
{{ block.super }}
<style>
.page-header {
    text-align: center;
}
.movie-search-group {
    margin-bottom: 10px;
}

</style>
{% endblock styles %}

{% block body %}
{{ block.super }}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="thumbnail">
                <div class="caption">
                    <h3>Stand-Alone Recommendation</h3>
                    <p>
                        <ul>
                            <li>fast, one-time recommendation for anonymous as well as for authenitcated users</li>
                        </ul>
                    </p>
                    <p><a href="{% url 'reco' %}" class="btn btn-primary" 
                          id="standalone-reco-btn" role="button">Start</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="thumbnail">
                <div class="caption">
                    <h3>General Recommendation</h3>
                    <p>
                        <ul>
                            <li>complex, general recommendation on the base of your all preferences</li>
                        </ul>
                    </p>
                    <p><a href="#" class="btn btn-primary" 
                          id="general-reco-btn" role="button">Start</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class = "container">
    <h3>The newest movies (Fast Pick-Up)</h3>
</div>
{% endblock %}


{% block body_scripts %}
<script>
    function equalHeight(group) {    
        var tallest = 0;    
        group.each(function() {       
            var thisHeight = $(this).height();       
            if(thisHeight > tallest) {          
                tallest = thisHeight;       
            }    
        });    
        group.each(function() { $(this).height(tallest); });
    } 

    $(document).ready(function() {   
        equalHeight($(".thumbnail")); 
    });

    $("#standalone-reco-btn").click(function() {
        localStorage.setItem("reco-type", "standalone");
    });
    $("#general-reco-btn").click(function() {
        localStorage.setItem("reco-type", "general");
    });
</script>
{% endblock %}