{% load static %}
<div class="modal fade" id="movieInfo" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" 
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h3 id="minfo-title" class="modal-title"></h3>
                <p id="minfo-genres"></p>
                <div id="minfo-add-watchlist" data-active="{% if user.is_authenticated %}1{%else%}0{% endif %}">
                    <a href="#">+Watchlist</a>
                </div>
            </div>

            <div class="modal-body" id="minfo-loading">
                <img src="{% static 'img/loading.gif' %}">
            </div>

            <div class="modal-body" id="minfo-body">
                <div id="minfo-poster-wrapper">
                    <img id="minfo-poster" src="">
                    <div>
                        <a id="minfo-imdb" href="#" target="_blank">View in IMDB</a><br>
                        <a id="minfo-tmdb" href="#" target="_blank">View in TMDB</a>
                    </div>
                </div>
                <div id="minfo-info-wrapper">
                    <p id="minfo-overview"></p>
                    <dl class="dl">
                        <dt>Runtime (minutes)</dt>
                        <dd id="minfo-runtime"></dd>
                        <dt>Rating (TMDB)</dt>
                        <dd id="minfo-vote"></dd>
                    </dl>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>