{% extends 'main/base.html' %}
{% load static %}

{% block title %}What To Watch{% endblock title %}

{% block styles %}
{{ block.super }}
<!-- Important Owl stylesheet -->
<link rel="stylesheet" href="{% static 'main/css/owl.carousel.css' %}">
<link rel="stylesheet" href="{% static 'main/css/owl.theme.default.min.css' %}">
<style>
    .container-w2w {
        max-width: 960px;
        background-color: white;
        padding: 5px 25px 25px 25px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
    }

    .movie {
        position: relative;
        display: inline-block;
        margin-left: 5px;
        margin-right: 5px;
        padding: 0px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        text-align: center;
        background-color: blue;
        height: 278px;
        width: 185px;
        max-width: 185px;
        max-height: 278px; 
    }

    .movie img {
        height: 100%;
        width: 100%;
        box-shadow: 0px 2px 5px #444444;
    }

    .movie span.movie-title {
        display: inline-block;
        max-width: 185px;
        text-transform: uppercase;
    }

    .movie-rating {
        position: absolute;
        bottom: 0;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        cursor: pointer;
    }

    .movie-rating-star.selected,
    .movie-rating-star.hovered,
    .movie-rating-star,
    .pref-rating-star.selected,
    .pref-rating-star.hovered,
    .pref-rating-star {
        display: inline-block;
        color: #FFBB00;
        font-size: 2.5em; 
        text-shadow: 2px 2px #000000;
    }

    .pref-rating-star:before,
    .movie-rating-star:before {
        content: '\2606';    
    }

    .pref-rating-star.selected:before,
    .pref-rating-star.hovered:before,
    .movie-rating-star.selected:before,
    .movie-rating-star.hovered:before {
        content: '\2605';    
    }

    .movie-ui {
        position: absolute;
        width: 100%;
        overflow: hidden;
        top: 0px;
        left: 0px;
    }

    .check-off {
        display: none;
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 100px 100px 0;
        border-color: transparent #fff700 transparent transparent;
        right: 0;
        top: 0;
        opacity: 0.75;
    }
    .check-off-text {     
        display: inline-block;  
        -webkit-transform: rotate(45deg) translate(30px, 10px);
        -moz-transform: rotate(45deg) translate(30px, 10px);
        -ms-transform: rotate(45deg) translate(30px, 10px);
        -o-transform: rotate(45deg) translate(30px, 10px);
        transform: rotate(45deg) translate(30px, 10px);
    }
    .check-off-text > a {
        color: black; /* #fff700; */
        font-weight: bold;
        white-space: nowrap;
    }
    .check-off-text > a:link, 
    .check-off-text > a:visited, 
    .check-off-text > a:active {
        text-decoration: none;
    }
    .check-off-text > a:hover {
        text-decoration: underline;
    }

    .movie-info {
        background: rgba(91, 192, 222, 0.75);
        width: 100%;
        padding: 3px;
        text-align: left;
    }
    .movie-info > a {
        color: black; 
        font-weight: bold;
        white-space: nowrap;
    }
    .movie-info > a:link, 
    .movie-info > a:visited, 
    .movie-info > a:active {
        text-decoration: none;
    }
    .movie-info > a:hover {
        text-decoration: underline;
    }

    .movie-watchlist {
        background: rgba(217,83,79, 0.75);
        width: 100%;
        padding: 3px;
    }
    .movie-watchlist > a {
        color: black; 
        font-weight: bold;
        white-space: nowrap;
    }
    .movie-watchlist > a:link, 
    .movie-watchlist > a:visited, 
    .movie-watchlist > a:active {
        text-decoration: none;
    }
    .movie-watchlist > a:hover {
        text-decoration: underline;
    }

    .movies-list-search {
        overflow: hidden;
    }
    .movies-list-search  input {
        box-sizing : border-box;
        width: 100%;
        background-color: gray;
        color: white;
        /*border: 1px solid black; */
        border-radius: 4px;
        font-size: 1.1em;
        line-height: 1.2em;
    }
    .owl-nav {
        float: right;
        margin-left: 20px;
    }
    .movies-list-menu-trigger {
        float: left;
    }
    .owl-prev, .owl-next {
        display: inline-block;
        background-color: gray;
        font-weight: bold;
        color: white;
    }

    .owl-carousel {
        clear: both;
        margin-top: 10px;
    }

    .alert-info {
        display: none;
        color: #31708F;
        background-color: #D9EDF7;
        border-color: #BCE8F1;
        margin-top: 10px;
        /*height: 2em;*/
        /*padding: 5px;*/
    }

    #pref-list {
        display: table;
        table-layout: fixed;
        width: 100%;
        border-collapse: collapse;
    }

    .pref-movie {
        display: table-row;
        width: 100%;
        margin: 20px;
        border-bottom: 1px solid black;
        padding: 100px;
        height: 0px;
    }

    .pref-movie-title {
        display: table-cell;
        word-wrap: break-word;
        vertical-align: middle;
        padding: 5px;
        height: 100%;
        text-align: left;
        width: 50%;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .pref-movie-ui {
        display: table-cell;
        float: right;
        white-space: nowrap;
        vertical-align: middle;
        padding: 5px;
        height: 100%;
    }

    .pref-movie-rating {
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;
        margin-left: 20px;
        cursor: pointer;
    }
    .pref-movie-remove {
        display: inline-block;
        vertical-align: middle;
    }

    #prefs-ui {
        margin-top: 10px;
    }

    .reco-btn-container {
        text-align:center;
        background-color: transparent !important;
        padding: 0px !important;
    }

    #reco-btn {
        margin:auto;
        background-color: #FFBB00;
        color: black;
    }

    #reco-output {
        /*display: none;*/
    }

    #reco-list {
        list-style-type: none;
    }

    .reco-item {
        border-bottom: 1px solid black;
        margin: 20px;
        padding: 10px;
    }
    
</style>

<style>
.page-header {
    text-align: center;
}
.movie-search-group {
    margin-bottom: 10px;
}

</style>
{% endblock styles %}

{% block body %}
{{ block.super }}
    <div class = "container-w2w">
        <h3>Select your favourite movies</h3>
        <div class="movies-list-ui">
            <div class="owl-nav">
                <button class="btn btn-default owl-prev" type="button">&#9666</button>
                <button class="btn btn-default owl-next" type="button">&#9656</button>
            </div>
            <div class="input-group movies-list-search">
                <input type="text" class="form-control" id="movie-search-input"
                       placeholder="Search for movies ...">
                <span class="input-group-btn">
                    <button class="btn btn-default" id="movie-search-button"
                            type="button">Search!</button>
                </span>
            </div>
        </div>

        <div class="alert alert-info alert-dismissible" role="alert" 
             id="movies-list-info">
            <button type="button" class="close" data-dismiss="alert" 
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
            </button>
            <span id="movies-list-info-msg"></span>
        </div>

        <div class="owl-carousel"></div>
    </div>

    <div class = "container-w2w">
        <h3>Your preferences</h3>

        <div id="pref-list"></div>

        <div id="prefs-ui">
            <button id="prefs-list-prev" class="btn btn-primary" 
                type="button">Prev</button>
            <button id="prefs-list-next" class="btn btn-primary" 
                type="button">Next</button>

            {% if reco_type == 'standalone' %}
            <button id="clear-my-prefs" class="btn btn-danger" 
                type="button">Clear My Preferences</button>
            {% endif %}
        </div>
    </div>

    <div class="container-w2w reco-btn-container">
        <button id="reco-btn" class="btn btn-primary btn-lg" 
            type="button">Make Recommendation</button>
    </div>

    <div class = "container-w2w">
        <h3>Recomendation</h3>
        <div class="alert alert-info alert-dismissible" role="alert" 
             id="reco-status">
            <button type="button" class="close" data-dismiss="alert" 
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
            </button>
            <span id="reco-status-msg"></span>
        </div>
        <div id="reco-output">
            <ul id="reco-list" class="list-group row">
<!--                 <li class="reco-item">Fight Club</li>
                <li class="reco-item">The Lord of The Rings</li> -->
            </ul>

            <dev id="reco-ui">
                <button id="reco-list-prev" class="btn btn-primary" 
                    type="button">Prev</button>
                <span class="label label-primary" id="reco-page"></span>
                <button id="reco-list-next" class="btn btn-primary" 
                    type="button">Next</button>
            </dev>
        </div>
    </div>

{% endblock %}

{% block body_scripts %}
    <script src="{% static 'main/js/owl.carousel.js' %}"></script>
    <script src="{% static 'main/js/jquery.mousewheel.min.js' %}"></script>
    <script src="{% static 'js/prefs.source.js' %}"></script>
    <script src="{% static 'js/generic.lists.js' %}"></script>
    <script src="{% static 'js/movies.list.js' %}"></script>
    <script src="{% static 'js/prefs.list.js' %}"></script>
    <script src="{% static 'js/reco.list.js' %}"></script>
    <script>
        var owl = $('.owl-carousel');
        owl.owlCarousel({
            nav: false, dots: false, loop: false,
            center: false, autoWidth: true, 
            lazyLoad: true, items: 5,
            responsive: {
                0: { items: 1 },
                600: { items: 3 },
                1000: { items: 5 }
            }
        });
        $(".owl-prev").click(function(event) {
            owl.trigger("prev.owl");
        });
        $(".owl-next").click(function(event) {
            owl.trigger("next.owl");
        });
        owl.on('mousewheel', '.owl-stage', function (e) {
            if (e.deltaY>0) {
                owl.trigger('next.owl');
            } else {
                owl.trigger('prev.owl');
            }
            e.preventDefault();
        });

        owl.on('changed.owl.carousel', function(event) {
            if (event.item.index + 20 > event.item.count) {
                moviesList.next(function() {
                    alignMoviesListWithUserPrefs(); 
                });
            } 
        });

        // Required for callback after two asynchronous requests
        var requestStatus = { movies: false, prefs: false, done: false };

        moviesList.popular(page = 1, callback = function() {
            requestStatus.movies = true;
            if (requestStatus.prefs && !requestStatus.done) {
                alignMoviesListWithUserPrefs(); 
                requestStatus.done = true;
            }
        });

        prefsList.on("onInitialized", function() {
            reloadPrefsList(prefsList.getCurrentPage());
            requestStatus.prefs = true;
            if (requestStatus.movies && !requestStatus.done) {
                alignMoviesListWithUserPrefs(); 
                requestStatus.done = true;
            }
        });

        var recoType = "{{reco_type}}";
        if (recoType == "general") {
            prefsList.init(new UserBasedPrefsSource(), 5);
        } else {
            prefsList.init(new SessionBasedPrefsSource(sessionStorage), 5);  
        }

        $("#reco-container").hide();
        $("#reco-status").hide();
    </script>
{% endblock %}