{% extends 'main/base.html' %}
{% load static %}

{% block title %}What To Watch{% endblock title %}

{% block styles %}
{{ block.super }}
<style>
.page-header {
    text-align: center;
}
.movie-search-group {
    margin-bottom: 10px;
}

</style>
{% endblock styles %}

{% block body %}
{{ block.super }}
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Find Your Favourite Movies
                    <span id="state-msg"></span>
                </h3>
            </div>
            <div class="panel-body">

                <div class="input-group movie-search-group">
                    <input type="text" class="form-control" id="movie-search-input"
                           placeholder="Search for movies ...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" id="movie-search-button"
                                type="button">Search!</button>
                    </span>
                </div>

                <ul id="movies-list" class="list-group row"></ul>
                <button id="movies-list-prev" class="btn btn-primary" 
                    type="button">Prev</button>
                <button id="movies-list-next" class="btn btn-primary" 
                    type="button">Next</button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Your Preferences</h3>
            </div>
            <div class="panel-body">
                <ul id="pref-list" class="list-group row"></ul>

                <button id="prefs-list-prev" class="btn btn-primary" 
                    type="button">Prev</button>
                <button id="prefs-list-next" class="btn btn-primary" 
                    type="button">Next</button>

                {% if reco_type == 'standalone' %}
                <button id="clear-my-prefs" class="btn btn-danger" 
                    type="button">Clear My Preferences</button>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="container">
        <button id="make-reco-btn" class="btn btn-primary" 
            type="button">Make Recommendation</button>

        <div id="reco-status" class="alert alert-info" role="alert"></div>
    </div>

    <div class="container" id="reco-container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Recommendation</h3>
            </div>
            <div class="panel-body">
                <ul id="reco-list" class="list-group row"></ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block body_scripts %}
    <script src="{% static 'js/prefs.source.js' %}"></script>
    <script src="{% static 'js/reco.ui.js' %}"></script>
    <script>
        // Required for callback after two asynchronous requests
        var requestStatus = { movies: false, prefs: false, done: false };

        loadMoviesFromServer("/movies/popular", {}, function() {
            requestStatus.movies = true;
            if (requestStatus.prefs && !requestStatus.done) {
                alignMoviesListWithUserPrefs();
                requestStatus.done = true;
            }
        });

        var recoType = "{{reco_type}}";
        if (recoType == "general") {
            prefsList.init(new UserBasedPrefsSource(), function() {
                prefsList.refresh();
                requestStatus.prefs = true;
                if (requestStatus.movies && !requestStatus.done) {
                    alignMoviesListWithUserPrefs();
                    requestStatus.done = true;
                }
            });
        } else {
            prefsList.init(new SessionBasedPrefsSource(sessionStorage), function() {
                prefsList.refresh();
                requestStatus.prefs = true;
                if (requestStatus.movies && !requestStatus.done) {
                    alignMoviesListWithUserPrefs();
                    requestStatus.done = true;
                }
            });   
        }

        $("#reco-container").hide();
        $("#reco-status").hide();
    </script>
{% endblock %}




