.page-header {
    text-align: center;
}

#pref-list {
    display: table;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
}

#prefs-ui {
    margin-top: 10px;
}

.reco-btn-container {
    text-align:center;
    background-color: transparent !important;
    padding: 0px !important;
}

#reco-btn {
    margin:auto;
    background-color: #FFBB00;
    color: black;
}

#reco-output {
    display: none;
}

#reco-list {
    list-style-type: none;
}

.reco-item {
    border-bottom: 1px solid black;
    margin: 20px;
    padding: 10px;
}