/*<!-- 
    2D99FF 
    FFFFFF
    F2FF6D
    2B3E50
    FAFFC2
-->*/

body {
    background-color: #2B3E50 !important;
}

.container-w2w {
    max-width: 960px;
    background-color: white;
    padding: 5px 25px 25px 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;

}
  /* Small devices (tablets, 768px and up) */
@media(max-width:767px) { 
    .container-w2w {
        border-radius: 0px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media(min-width:768px) { 
    .container-w2w {
        border-radius: 10px;
    }
}

.container-w2w .page-header {
    margin-top: 0px;
}

.alert-info {
    display: none;
    color: #31708F;
    background-color: #D9EDF7;
    border-color: #BCE8F1;
    margin-top: 10px;
    /*height: 2em;*/
    /*padding: 5px;*/
}